.loginBG {
  z-index: 9999;
  position: fixed;
  background-color: rgba(211, 211, 211, 0.5);
  height: 100%;
  width: 100%; }

.logSign {
  margin: 20% 20%;
  background-color: #c37d7d;
  padding: 10% 20%;
  border-radius: 2em; }
  .logSign div {
    margin: 1em 0; }
  .logSign span {
    color: white;
    font-size: 2em;
    margin-bottom: 3em; }

.navbar {
  margin-bottom: 0; }

.username {
  margin-bottom: .5em; }

.password {
  margin-bottom: .5em; }

.btn-primary {
  margin-top: .4em; }

#imgForm {
  background-color: #c37d7d;
  padding: 1em; }

.logSign {
  padding: 2em;
  text-align: center; }

#cancelBtn {
  padding: .75em; }

#submitBtn {
  padding: .75em; }

#imgUrl {
  padding: 1em;
  margin: 1em;
  width: 60%; }

#imgDesc {
  padding: 1em;
  margin: 1em;
  width: 60%; }

.actualPic {
  height: 100%;
  width: 100%; }

.comments {
  padding: 2em;
  box-sizing: border-box; }

.full {
  box-shadow: 10px 5px 5px #ccc;
  border: 1px solid #ccc;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 3em auto; }

@media screen and (min-width: 992px) {
  .full {
    height: 25%;
    width: 22%;
    margin: 1em;
    box-sizing: border-box; } }
