.btn-primary {
  margin-top: .4em; }

#imgForm {
  padding: 2em;
  text-align: center; }

#cancelBtn {
  padding: .75em; }

#submitBtn {
  padding: .75em; }

#imgUrl {
  padding: 1em;
  margin-bottom: 1em;
  width: 60%; }

#imgDesc {
  padding: 1em;
  margin-bottom: 1em;
  width: 60%; }

#imgList {
  text-align: center; }

.actualPic {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc; }

.background {
  padding: 2em 5em;
  text-align: center; }

.comments {
  padding: 2em;
  margin-bottom: 2em;
  border: 1px solid #ccc; }

.full {
  box-shadow: 10px 5px 5px #ccc; }
